@font-face {
  font-family: "Proxima Soft";
  src: url("./assets/fonts/ProximaSoft-Light.eot");
  src: local("Proxima Soft Light"), local("ProximaSoft-Light"),
    url("./assets/fonts/ProximaSoft-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaSoft-Light.woff2") format("woff2"),
    url("./assets/fonts/ProximaSoft-Light.woff") format("woff"),
    url("./assets/fonts/ProximaSoft-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("./assets/fonts/ProximaSoft-Medium.eot");
  src: local("Proxima Soft Medium"), local("ProximaSoft-Medium"),
    url("./assets/fonts/ProximaSoft-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaSoft-Medium.woff2") format("woff2"),
    url("./assets/fonts/ProximaSoft-Medium.woff") format("woff"),
    url("./assets/fonts/ProximaSoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("./assets/fonts/ProximaSoft-SemiBold.eot");
  src: local("Proxima Soft SemiBold"), local("ProximaSoft-SemiBold"),
    url("./assets/fonts/ProximaSoft-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaSoft-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/ProximaSoft-SemiBold.woff") format("woff"),
    url("./assets/fonts/ProximaSoft-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("./assets/fonts/ProximaSoft-ExtraBold.eot");
  src: local("Proxima Soft ExtraBold"), local("ProximaSoft-ExtraBold"),
    url("./assets/fonts/ProximaSoft-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaSoft-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/ProximaSoft-ExtraBold.woff") format("woff"),
    url("./assets/fonts/ProximaSoft-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* ----------------- APP ----------------- */

body {
  margin: 0;
  font-family: "Proxima Soft", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
#root,
.lizy {
  height: 100vh;
  background: #f8f8f8;
}

.lizy {
  width: 1200px;
  margin: auto;
}

.lizy img {
  max-width: 100%;
  max-height: 100%;
}

.font-weight--thin {
  font-weight: 300;
  opacity: 0.8;
}

/* ----------------- HEADER ----------------- */

.logo {
  display: flex;
  justify-content: center;
}

img.logo__img {
  height: 150px;
}

/* ----------------- RESTAURANTS ----------------- */

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 50px auto auto;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 10px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
  transition: 0.3s;
  overflow: hidden;
}

.restaurant:hover {
  transform: translateY(-5px);
}

.restaurant-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  border-radius: 4px;
}

.restaurant-name__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  border-radius: 4px 0 0 4px;
}

.restaurant-name__text {
  font-weight: bold;
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  padding: 0 10px;
  font-size: 1.1em;
}

.restaurant-img-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.restaurant-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.restaurant__extras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto auto 10px;
  opacity: 0.8;
}

.restaurant-desc-item {
  display: flex;
  margin: 5px auto;
  width: 100%;
  align-items: center;
  text-align: left;
}

.restaurant__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
}

.restaurant-desc-item__icon {
  display: flex;
  width: 15%;
}

.restaurant-desc-item__text {
  width: 85%;
}

img.icon {
  height: 20px;
}

.restaurant-extras-rating {
  display: flex;
  align-items: center;
}

.restaurant-extras-rating__count {
  margin: 0 0 2px 5px;
}

img.rating__star {
  height: 15px;
}

.restaurant-extras-price {
  font-weight: 600;
  color: #bbbbbb;
  font-size: 1.2em;
}

/* ----------------- FILTERS ----------------- */

.form-search {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 40px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
}

.form-search__inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.form-search__submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0;
}

.input-text {
  position: relative;
  margin: 0 20px;
  padding: 19px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
}

select.input-text {
  width: 140px;
  font-family: "Proxima Soft";
  font-weight: 600;
}

.input-text:focus-visible {
  outline-offset: 0px;
  outline: 0px;
}

.participant {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.participants__title {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.participants.input-text,
.boxed-form .participants.input-text {
  padding: 0;
}

.participants__name {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border-width: 2px;
  transition: 0.3s;
  z-index: 1;
}

.participants__name.show-participants {
  display: flex;
}

.participant__checkbox {
  margin-right: 20px;
  height: 15px;
  width: 15px;
}

.close-select {
  margin: 10px auto 0;
  padding: 10px 0;
  width: 100px;
  text-align: center;
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  border-radius: 4px;
  color: #fff;
}

.boxed-form .close-select {
  width: 100%;
}

.input-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 160px;
  margin: 0 20px;
}

.input-price__title {
  width: 100%;
  text-align: center;
}

.price-range-button {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px 4px 0;
  background: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.price-range-button.price-range-button--active {
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  color: #fff;
  border: 1px solid transparent;
}

.price-range-button__text {
  font-weight: 600;
  font-size: 1.1em;
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant.price-range-button__text {
  color: -webkit-linear-gradient(right, #f0057e, #fd320c);
}

.price-range-button--active .price-range-button__text {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.form-input--submit {
  margin: 0 20px;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  border-width: 2px;
  background: -webkit-linear-gradient(right, #f0057e, #fd320c);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.form-search__submit.hidden {
  display: none;
}

/* BOXED */

.boxed-form .input-text {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.boxed-form .form-search {
  margin: 100px auto;
  padding: 40px;
  width: 400px;
  box-sizing: border-box;
  background: #fff;
}

.boxed-form .input-price {
  margin: 20px 0;
}

.boxed-form select.input-text,
.boxed-form .participants.input-text {
  width: 100%;
}

/*  LOGIN  */

.form-search__inputs--login {
  flex-wrap: wrap;
}

.input-text--login {
  margin: 10px auto;
  width: 100%;
}

.form-search--login {
  margin: 100px auto;
  padding: 40px;
  width: 400px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
}

.participants.input-text {
  width: 130px;
}

/* GOOGLE AUTOCOMPLETE */

.boxed-form .form-search__inputs > div:first-child {
  width: 100%;
}

.form-search__inputs > div:first-child {
  width: 400px;
}

body .css-2b097c-container {
  position: relative;
}

body .css-yk16xz-control,
body .css-1pahdxg-control,
body .css-26l3qy-menu {
  position: relative;
  margin: 10px 20px;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border-width: 2px;
  box-shadow: none;
  cursor: pointer;
  transition: 0s;
}

body .css-26l3qy-menu {
  position: absolute;
  top: 55px;
  width: calc(100% - 40px);
}

body .boxed-form .css-26l3qy-menu {
  width: calc(100% - 20px);
}

body .unfilled .css-yk16xz-control {
  border-color: #ff006e;
}

body .boxed-form .css-yk16xz-control,
body .boxed-form .css-1pahdxg-control,
body .boxed-form .css-26l3qy-menu {
  margin: 10px;
  padding: 10px 20px;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  /* ---- APP --- */

  .lizy {
    width: 800px;
  }

  /* --- RESTAURANT --- */

  .restaurant {
    width: calc(33.33% - 20px);
  }

  .restaurant-name__text {
    font-size: 1em;
  }

  /* --- FILTERS --- */

  .input-text {
    margin: 0 10px;
  }

  /* --- GOOGLE AUTOCOMPLETE --- */

  .form-search__inputs > div:first-child {
    width: 200px;
  }

  body .css-yk16xz-control,
  body .css-1pahdxg-control,
  body .css-26l3qy-menu {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 799px) {
  /* --- APP --- */

  .lizy {
    width: 100%;
  }

  /* --- RESTAURANTS --- */

  .restaurant {
    width: calc(50% - 20px);
  }

  /* --- FILTERS --- */

  select.input-text,
  .participants.input-text {
    margin: 10px 20px;
    padding: 20px 25px;
    width: 100%;
  }

  .participants.input-text,
  .boxed-form .participants.input-text {
    padding: 0;
    margin: 10px;
  }

  .form-search {
    margin: 50px auto;
    padding: 40px 20px;
    width: 90%;
    box-sizing: border-box;
  }

  .input-price {
    margin: 20px 20px 0;
  }

  /* --- BOXED --- */

  select.input-text,
  .participants.input-text {
    margin: 10px 20px;
  }

  /* --- GOOGLE AUTOCOMPLETE --- */

  .form-search__inputs > div:first-child {
    width: 100%;
  }
}

@media only screen and (max-width: 449px) {
  /* --- APP --- */

  .lizy {
    width: 100%;
  }

  /* --- RESTAURANTS --- */

  .restaurant {
    margin: 10px auto;
    width: calc(100% - 20px);
  }

  /* --- FILTERS --- */

  img.logo__img {
    height: 100px;
  }

  .form-search {
    width: 90%;
    margin: 50px auto;
  }

  select.input-text,
  .participants.input-text {
    margin: 10px 20px;
    width: 100%;
  }

  /* --- BOXED --- */

  body .boxed-form .form-search {
    margin: 50px auto;
    padding: 20px;
    width: 90%;
  }

  .boxed-form .input-text {
    margin: 10px;
    padding: 20px;
  }

  /* --- LOGIN --- */

  .form-search--login {
    margin: 100px auto;
    width: 90%;
  }
}
